<div id="add-email" class="container">
  <h1>Enter your Email</h1>
  <%= form_for(@user, url: confirm_email_path(@user)) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control input-lg' %>
      <%= f.label :email %>
      <div class="controls">
        <%= f.text_field :email, :autofocus => true, :value => '', class: 'form-control input-lg', placeholder: 'Example: email@test.com' %>
        <p class="help-block">Please confirm your email address. No spam.</p>
      </div>
      
      <%= f.label :password %>
      <%= f.text_field :password, class: 'form-control input-lg' %>
      
      <%= f.label :password_confirmation %>
      <%= f.text_field :password_confirmation, class: 'form-control input-lg' %>
      
    </div>
    <div class="actions">
      <%= f.submit 'Continue', :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>